<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/81f3b2de0b.js" crossorigin="anonymous"></script>
        <link rel = "stylesheet" type = "text/css" href = "styles.css">
    </head>
    <body>
        <div id = "outer">
            <h1 id = "heading">TODO App</h1>
            <form action = "/add-task" method = "Post">
                <input type = "text" name = "task" placeholder="Type ur task here..." required><br>
                <select value = "Choose a category">
                    <option value="Work">Work</option>
                    <option value ="School">School</option>
                    <option value = "Home">Home</option>
                </select>
                <input type = "date" value = "dd.mm.yyyy" name = "due_date"><br>
                <input type = "Submit" value = "ADD TASK" name = "addButton"><br>
                <input type = "button" value = "DELETE TASKS" name ="deleteButton">
            </form>
            <ul>
                <% for (let i of TODO_list) { %> 
                    <div class="task"> 
                         <li>
                             <input type = "checkbox" class ="togglebutton" >
                             <p id = "task"><%= i.task %> <br> <%=i.due_date%></p>
                             <p  id = "category"><%= i.category %></p>
                             
                         </li>
                     </div>
                    
                 <% } %>
            </ul>

        </div>
        
    </body>
</html>